.banner {
    background-image: url('../../assets/images/pattern-blue.svg');
    background-size: contain;
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-size: 1.4em;
    font-family: 'Mplus-Bold';

    .order-tittle {
        font-size: 1.8;
        font-family: 'Mplus-Black';
        color: var(--yellow);
        padding-top: 5%;
    }
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0 5% 0;
}

.ramen-image {
    max-width: 350px;
    max-height: 380px;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}


.order-prepared {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--white) ;

    img {
        width: 60px;
        height: 60px;
        align-self: center;
        margin-top: 14%;
    }

    .button {
        padding-bottom: 10%;
    }
}

p {
    padding: 0% 5%;
    font-family: 'Mplus-Medium';
}

.yellow-tittle {
    text-align: center;
    font-size: 1.2em;
    color: var(--yellow);
    font-family: 'Mplus-Black';
    padding-top: 5%;
}

.red-tittle {
    text-align: center;
    font-size: 1.4em;
    color: var(--red);
    padding: 5% 20%;
    font-family: 'Mplus-Bold';
}

@media (min-width: 1100px) {
    .container {
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        
        .banner {
            display: block;
            height: 100vh;
            width: 100%;
        }

        .order {
            height: 90%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .order-tittle {
                font-size: 2em;
                padding: 0
            }

        }

        .order-prepared {
            height: 100vh;
            width: 100%;

            img {
                margin-top: 10%;
            }

            p {
                font-size: 1.2em;
                padding: 0;
                margin-bottom: 2%;
            }

            .yellow-tittle {
                font-size: 2em;
                margin-top: 2%;
            }

            .red-tittle {
                font-size: 3em;
            }
        }
    }

    .bowing {
        width: 40px;
        height: 40px;
    }
}

@media (max-height: 750px) {
    .ramen-image {
        max-height: 300px ;
        max-width: 300px;
    }
}