<div class="banner">
    <rmg-header></rmg-header>
    <img class="ramen-image">
    <p>Your Order:</p>
    <p class="order-tittle"></p>
</div>
<section class="order-prepared">
    <img src="../../assets/images/bowing.png" alt="image of a man thanking">
    <p class="yellow-tittle">どもありがとうございます。</p>
    <p class="red-tittle">Your order is being prepared</p>
    <p>Hold on, when you least expect you will be eating your rámen. </p>
    <rmg-rounded-button class="button" text="PLACE NEW ORDER"></rmg-rounded-button>
</section>
