<rmg-welcome-banner></rmg-welcome-banner>
<div class="ingredients">
    <section class="ingredients-select broths">
        <h4>First things first: select your favorite broth.</h4>
        <p>It will give the whole flavor on your ramen soup. </p>
        <rmg-slider id="broth-slider"></rmg-slider>
    </section>
    <section class="ingredients-select proteins">
        <h4>It’s time to choose (or not) your meat!</h4>
        <p>Some people love, some don’t. We have options for all tastes.</p>
        <rmg-slider id="protein-slider"></rmg-slider>
    </section>
    <rmg-rounded-button text="PLACE MY ORDER"></rmg-rounded-button>
</div>
